# Porta do Servidor (ex: 3004 para VPS ou padrão 3000)
PORT=3004

# Configuração de subpath/subdiretório público no Docker / Nginx reverse proxy
PUBLIC_URL=/gip
BASE_URL=/gip

# Configuração do Google Drive e Conta de Serviço (Obrigatório para o Servidor)
GOOGLE_SERVICE_ACCOUNT_KEY=
GOOGLE_DRIVE_PARENT_FOLDER_ID=1fvFyLFU1QGZkfOxYvreHxtEZVWE8l_96

# Chave da API do Gemini (Opcional se aplicável)
GEMINI_API_KEY=
