# Configuração do Google Drive e Conta de Serviço (Obrigatório para o Servidor)
GOOGLE_SERVICE_ACCOUNT_KEY=
GOOGLE_DRIVE_PARENT_FOLDER_ID=1fvFyLFU1QGZkfOxYvreHxtEZVWE8l_96

# Chave da API do Gemini (Opcional se aplicável)
GEMINI_API_KEY=

# Configurações do Firebase (Opcional - Se vazias, o sistema usará as do arquivo firebase-applet-config.json)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_FIRESTORE_DATABASE_ID=
